* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-section {
  background-color: #f8ffff;
  width: 100%;
  height: 60vh;
}
.head-section .head-section_top-navbar {
  display: flex;
  background-color: #f8ffff;
  width: 100%;
  height: 21%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_logo-container {
  width: 46%;
  height: 100%;
  display: flex;
  align-items: center;
}
.head-section .head-section_top-navbar .head-section_top-navbar_logo-container .head-section_top-navbar_logo-container_logo {
  width: 37%;
  height: 55%;
  margin-left: 26%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container .head-section_top-navbar_contact-icons-container_telegram-icon {
  width: 11%;
  height: 45%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container .head-section_top-navbar_contact-icons-container_message-icon {
  width: 9%;
  height: 43%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container .head-section_top-navbar_contact-icons-container_telephone-icon-number {
  width: 40%;
  height: 45%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container_btn-container {
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.head-section .head-section_top-navbar .head-section_top-navbar_contact-icons-container_btn-container .head-section_top-navbar_contact-icons-container_btn-container_btn {
  background-color: #f05670;
  color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 0.5rem;
  box-sizing: content-box;
  padding: 0 2em 0 2em;
  width: 48%;
  height: 48%;
}
.head-section .head-section_main-section {
  background-color: #f8ffff;
  width: 100%;
  height: 79%;
  display: flex;
}
.head-section .head-section_main-section .head-section_main-section_project-development-container {
  width: 40%;
  height: 100%;
  padding-left: 80px;
}
.head-section .head-section_main-section .head-section_main-section_project-development-container .head-section_main-section_project-development-container_title {
  color: #1e959b;
  font-size: 1.2em;
  margin-top: 20%;
  margin-bottom: 2%;
}
.head-section .head-section_main-section .head-section_main-section_project-development-container .head-section_main-section_project-development-container_text {
  font-size: 0.5em;
}
.head-section .head-section_main-section .head-section_main-section_project-development-container .head-section_main-section_project-development-container_btn {
  background-color: #f05670;
  color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 0.5rem;
  box-sizing: content-box;
  padding: 0 2em 0 2em;
  width: 38%;
  height: 13%;
  margin-top: 9%;
}
.head-section .head-section_main-section .head-section_main-section_img-container {
  width: 60%;
  height: 100%;
}
.head-section .head-section_main-section .head-section_main-section_img-container .head-section_main-section_img-container_img {
  width: 70%;
  height: 84%;
}

.companies-logos-bar {
  width: 100%;
  height: 9vh;
  background-color: #1e959b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies-logos-bar .companies-logos-bar_img {
  width: 85%;
  height: 60%;
}

.main-section {
  background-color: #f8ffff;
  width: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-section .main-section_service-types {
  width: 100%;
  height: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 110px;
}
.main-section .main-section_service-types_service-block {
  height: 100px;
  width: 140px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
  box-shadow: 0px 4px 4px 0px #1e959b80;
}
.main-section .main-section_service-types_service-block .main-section_service-types_service-block_img {
  width: 30%;
  height: 40%;
}
.main-section .main-section_service-types_service-block:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #1e959b80 inset;
}
.main-section .main-section_interview-submit {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #f8ffff;
  width: 100%;
}
.main-section .main-section_interview-submit .main-section_interview-submit_img-container {
  min-width: 320px;
  height: 100%;
  box-sizing: unset;
}
.main-section .main-section_interview-submit .main-section_interview-submit_img-container .main-section_interview-submit_img-container_img {
  width: 320px;
  height: 320px;
  padding-left: 100px;
}
.main-section .main-section_interview-submit .main-section_interview-submit_submit-section {
  min-width: 40%;
  height: 100%;
  box-sizing: unset;
  padding: 100px 0 130px 50px;
}
.main-section .main-section_interview-submit .main-section_interview-submit_submit-section .main-section_interview-submit_submit-section_title {
  color: #1e959b;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.main-section .main-section_interview-submit .main-section_interview-submit_submit-section .main-section_interview-submit_submit-section_text {
  font-size: 0.5em;
  margin-bottom: 20px;
}
.main-section .main-section_interview-submit .main-section_interview-submit_submit-section .main-section_interview-submit_submit-section_btn {
  background-color: #f05670;
  color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 0.5rem;
  box-sizing: content-box;
  padding: 0 2em 0 2em;
  width: 100px;
  height: 30px;
}
.main-section .main-section_banner-section {
  background-color: #f8ffff;
  width: 100%;
  width: 100%;
  height: 50vh;
}
.main-section .main-section_banner-section .main-section_banner-section_banner {
  width: 100%;
}
.main-section .main-section_products-container {
  background-color: #f8ffff;
  width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  padding-top: 30px;
}
.main-section .main-section_products-container .main-section_products-container_product-box {
  position: relative;
  min-width: 200px;
  max-width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .main-section_products-container .main-section_products-container_product-box_bg-line {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 35%;
  left: 0;
  background-color: #1e959b;
  overflow-x: hidden;
}
.main-section .main-section_products-container .main-section_products-container_product-box_product {
  position: relative;
  width: 70%;
  height: 80%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
  box-shadow: 0px 5px 10px 0px #1e959b80;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  text-align: center;
}
.main-section .main-section_products-container .main-section_products-container_product-box_product .main-section_products-container_product-box_product_text {
  color: #1e959b;
  font-size: 15px;
  margin-bottom: 20px;
}
.main-section .main-section_products-container .main-section_products-container_product-box_product .main-section_products-container_product-box_product_btn {
  background-color: #f05670;
  color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 0.5rem;
  box-sizing: content-box;
  padding: 0 2em 0 2em;
  position: absolute;
  width: 60px;
  height: 30px;
  bottom: 20px;
}
.main-section .main-section_products-container .main-section_products-container_product-box_product .main-section_products-container_product-box_product_circle {
  position: absolute;
  top: -30px;
  left: 30px;
  height: 80px;
  width: 80px;
  background-color: #1e959b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .main-section_products-container .main-section_products-container_product-box_product .main-section_products-container_product-box_product_circle .main-section_products-container_product-box_product_circle_icon {
  width: 50%;
  height: 50%;
}
.main-section .main-section_products-container .main-section_products-container_product:empty {
  background-color: #1e959b;
  height: 50%;
  width: 200%;
}
.main-section .main-section_submit-your-application {
  background-color: #f8ffff;
  width: 100%;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px 30px 20px;
}
.main-section .main-section_submit-your-application .main-section_submit-your-application_btn {
  background-color: #f05670;
  color: #fff;
  border-radius: 15px;
  border: 0;
  font-size: 0.5rem;
  box-sizing: content-box;
  padding: 0 2em 0 2em;
  width: 23%;
  height: 50px;
}

.bottom-footer {
  background-color: #f8ffff;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fcfdfe;
}
.bottom-footer .bottom-footer_main-content {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block1 {
  min-width: 40px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block {
  height: 100%;
  padding-left: 30px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block .bottom-footer_main-content_block_img {
  width: 10vw;
  height: 100%;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block .bottom-footer_main-content_block_text {
  font-size: 13px;
  color: #3aa2a7;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block2 {
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block3 {
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block3 .bottom-footer_main-content_block_tel-img {
  height: 20%;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block3 .bottom-footer_main-content_block3_text {
  padding-left: 13px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block4 {
  display: flex;
  align-items: center;
  min-width: 70px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block4 .bottom-footer_main-content_block4_img_icons {
  width: 30px;
  height: 30px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block4 .bottom-footer_main-content_block4_img_paper {
  width: 60px;
  height: 60px;
}
.bottom-footer .bottom-footer_main-content .bottom-footer_main-content_block4 .bottom-footer_main-content_block4_text {
  font-size: 9px;
}
.bottom-footer .bottom-footer_bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-footer .bottom-footer_bottom-content .bottom-footer_bottom-content_text {
  text-align: center;
  color: rgba(60, 60, 60, 0.5);
}

/*# sourceMappingURL=style.css.map */
