@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-section {
  @include main-block;
  height: 60vh;
}

.head-section_top-navbar {
  @include main-block;
  height: 21%;
}

.head-section_main-section {
  @include main-block;
  height: 79%;
}
