$breakpoint-tablet: 500px;

$main-bg-color: #f8ffff;
$main-gradient-bg-color: linear-gradient(270deg, #1e959b 0%, #afdede 100%);
$main-color: #1e959b;
$btn-bg-color: #f05670;
$btn-color: #fff;
$companies-logo-color: #fff;
$service-block-bg-color: linear-gradient(180deg, #ffffff 0%, #f7f9fd 100%);
$footer-bg-color: #fcfdfe;

$btn-font-size: 0.5rem;
$title-font-size: 1.2em;
$text-font-size: 0.5em;
$footer-text-font-size: 13px;
