doctype html 
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="./CSS/style.css")
        link(rel="stylesheet", href="./CSS/media.css")
        script(src="./script.js" defer)
        title CodeTime
    body
        header(class="head-section")
            nav(class="head-section_top-navbar")
                div(class="head-section_top-navbar_logo-container")
                    img(class="head-section_top-navbar_logo-container_logo" src="./images/logo.svg", alt="not found")
                div(class="head-section_top-navbar_contact-icons-container")
                    img(class="head-section_top-navbar_contact-icons-container_telegram-icon" src="./images/icons/telegram-icon.svg", alt="not found")
                    img(class="head-section_top-navbar_contact-icons-container_message-icon" src="./images/icons/message-icon.svg", alt="not found")
                    img(class="head-section_top-navbar_contact-icons-container_telephone-icon-number" src="./images/icons/telephone-icon-number.svg", alt="not found")
                div(class="head-section_top-navbar_contact-icons-container_btn-container")
                    button(class="head-section_top-navbar_contact-icons-container_btn-container_btn") НАЧАТЬ ПРОЕКТ
            section(class="head-section_main-section") 
                div(class="head-section_main-section_project-development-container")
                    h2(class="head-section_main-section_project-development-container_title") РАЗРАБОТКА <br /> IT-ПРОДУКТОВ
                    p(class="head-section_main-section_project-development-container_text") Разработаем проект с нуля, <br /> доработаем текущий проект или усилим вашу <br /> ИТ-команду лучшими разработчиками на рынке
                    button(class="head-section_main-section_project-development-container_btn") НАЧАТЬ НОВЫЙ ПРОЕКТ
                div(class="head-section_main-section_img-container")
                    img(class="head-section_main-section_img-container_img" src="./images/head-main-sec.svg", alt="not found")
        section(class="companies-logos-bar")
            img(class="companies-logos-bar_img" src="./images/companies-logos.svg", alt="not found")
        main(class="main-section")
            section(class="main-section_service-types")
                button(class="main-section_service-types_slide-btn main-section_service-types_slide-btn-prev" id="main-section_service-types_slide-btn-prev") <
                button(class="main-section_service-types_slide-btn main-section_service-types_slide-btn-next" id="main-section_service-types_slide-btn-next") >
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/interv.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Проведём интервью
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/plan.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Составим план
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/team.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Соберём команду
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/product.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Разработаем продукт
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/metric.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Улучшим метрики
            section(class="main-section_interview-submit")
                div(class="main-section_interview-submit_img-container")
                    img(class="main-section_interview-submit_img-container_img" src="./images/main-sec-img1.svg", alt="not found")
                div(class="main-section_interview-submit_submit-section")
                    h2(class="main-section_interview-submit_submit-section_title") Проведём интервью <br /> и подготовим проект <br /> к разработке
                    p(class="main-section_interview-submit_submit-section_text") Проведём продуктовое интервью онлайн <br /> и дадим рекомендации по подготовке проекта <br /> к разработке. Это бесплатно.
                    button(class="main-section_interview-submit_submit-section_btn") ЗАПИСАТСЯ НА ИНТЕРВЬЮ
            section(class="main-section_banner-section")
                img(class="main-section_banner-section_banner" src="./images/banner.svg", alt="not found")
            section(class="main-section_products-container")
                div(class="main-section_products-container_product-box")
                    div(class="main-section_products-container_product-box_bg-line") 
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/e-commerce.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") ECOMMERCE
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box")
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/SAAS-platforms.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") SAAS-ПЛАТФОРМЫ
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/mobile-app.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") МОБИЛЬНОЕ ПРИЛОЖЕНИЕ
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/IOT-app.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") IOT-ПРИЛОЖЕНИЯ
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/AR-VR.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") AR/VR
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/MVP.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") MVP
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/CRM-ERP.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") CRM/ERP
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                        span(class="main-section_products-container_product-box_product_circle")
                            img(class="main-section_products-container_product-box_product_circle_icon" src="./images/product-icons/blockchain.svg", alt="not found")
                        p(class="main-section_products-container_product-box_product_text") BLOCKCHAIN
                        button(class="main-section_products-container_product-box_product_btn") ЗАКАЗАТЬ     
            section(class="main-section_submit-your-application")
                img(class="main-section_submit-your-application_img" src="./images/submit-your-app.svg", alt="not found")
                button(class="main-section_submit-your-application_btn") ОСТАВИТЬ ЗАЯАВКУ
        footer(class="bottom-footer")
            div(class="bottom-footer_main-content")
                div(class="bottom-footer_main-content_block bottom-footer_main-content_block1")
                    img(class="bottom-footer_main-content_block_img" src="./images/Logo.svg", alt="not found")
                div(class="bottom-footer_main-content_block bottom-footer_main-content_block2")
                    p(class="bottom-footer_main-content_block_text") Мобильные приложения
                    p(class="bottom-footer_main-content_block_text") Главная страница
                div(class="bottom-footer_main-content_block bottom-footer_main-content_block3")
                    p(class="bottom-footer_main-content_block_text bottom-footer_main-content_block3_text") Связатсья с нами
                    img(class="bottom-footer_main-content_block_tel-img" src="./images/icons/telephone-icon-number.svg", alt="not found")
                div(class="bottom-footer_main-content_block bottom-footer_main-content_block4")
                    img(class="bottom-footer_main-content_block4_img_icons" src="./images/icons/telegram-icon.svg", alt="not found")
                    img(class="bottom-footer_main-content_block4_img_icons" src="./images/icons/message-icon.svg", alt="not found")
                    img(class="bottom-footer_main-content_block4_img_paper" src="./images/icons/footer-paper-icon.svg", alt="not found")
                    p(class="bottom-footer_main-content_block4_text") Индивидуальный предприниматель Степанов Георгий Константинович Адрес: г. Обнинск, <br /> ул. Белкинская. 19, 136 ОГРНИП 318402700019269 <br /> ИНН 402571298900 Банк МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК" <br /> БИК 044525092 К/c 30101810645250000092 Счет 40802810970010085488
            div(class="bottom-footer_bottom-content")
                p(class="bottom-footer_bottom-content_text") Copyright © 2021 ProductFit
    





    //- <header class="head-section">
      <nav></nav>
      <section></section>
    //- </header>
    //-<section class="company-logos-bar"></section>
    //-<main></main>
    //-<footer></footer> 