doctype html 
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="./CSS/style.css")
        title CodeTime
    body
        header(class="head-section")
            nav(class="head-section_top-navbar")
                div(class="head-section_top-navbar_logo-container")
                    img(class="head-section_top-navbar_logo-container_logo" src="./images/logo.svg", alt="not found")
                div(class="head-section_top-navbar_contact-icons-container")
                    img(class="head-section_top-navbar_contact-icons-container_telegram-icon" src="./images/icons/telegram-icon.svg", alt="not found")
                    img(class="head-section_top-navbar_contact-icons-container_message-icon" src="./images/icons/message-icon.svg", alt="not found")
                    img(class="head-section_top-navbar_contact-icons-container_telephone-icon-number" src="./images/icons/telephone-icon-number.svg", alt="not found")
                div(class="head-section_top-navbar_contact-icons-container_btn-container")
                    button(class="head-section_top-navbar_contact-icons-container_btn-container_btn") НАЧАТЬ ПРОЕКТ
            section(class="head-section_main-section") 
                div(class="head-section_main-section_project-development-container")
                    h2(class="head-section_main-section_project-development-container_title") РАЗРАБОТКА <br /> IT-ПРОДУКТОВ
                    p(class="head-section_main-section_project-development-container_text") Разработаем проект с нуля, <br /> доработаем текущий проект или усилим вашу <br /> ИТ-команду лучшими разработчиками на рынке
                    button(class="head-section_main-section_project-development-container_btn") НАЧАТЬ НОВЫЙ ПРОЕКТ
                div(class="head-section_main-section_img-container")
                    img(class="head-section_main-section_img-container_img" src="./images/head-main-sec.svg", alt="not found")
        section(class="companies-logos-bar")
            img(class="companies-logos-bar_img" src="./images/companies-logos.svg", alt="not found")
        main(class="main-section")
            section(class="main-section_service-types")
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/interv.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Проведём интервью
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/plan.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Составим план
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/team.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Соберём команду
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/product.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Разработаем продукт
                button(class="main-section_service-types_service-block")
                    img(class="main-section_service-types_service-block_img" src="./images/services-icons/metric.svg", alt="not found")
                    p(class="main-section_service-types_service-block-text") Улучшим метрики
            section(class="main-section_interview-submit")
                div(class="main-section_interview-submit_img-container")
                    img(class="main-section_interview-submit_img-container_img" src="./images/main-sec-img1.svg", alt="not found")
                div(class="main-section_interview-submit_submit-section")
                    h2(class="main-section_interview-submit_submit-section_title") Проведём интервью <br /> и подготовим проект <br /> к разработке
                    p(class="main-section_interview-submit_submit-section_text") Проведём продуктовое интервью онлайн <br /> и дадим рекомендации по подготовке проекта <br /> к разработке. Это бесплатно.
                    button(class="main-section_interview-submit_submit-section_btn") ЗАПИСАТСЯ НА ИНТЕРВЬЮ
            section(class="main-section_banner-section")
                img(class="main-section_banner-section_banner" src="./images/banner.svg", alt="not found")
            section(class="main-section_products-container")
                div(class="main-section_products-container_product-box")
                    div(class="main-section_products-container_product-box_bg-line") 
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box")
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")
                div(class="main-section_products-container_product-box") 
                    div(class="main-section_products-container_product-box_bg-line")
                    div(class="main-section_products-container_product-box_product")     
            section(class="main-section_submit-your-application")
                img(class="main-section_submit-your-application_btn" src="./images/submit-your-app.svg", alt="not found")
                button(class="main-section_submit-your-application_btn")
        footer(class="bottom-footer")
    





    //- <header class="head-section">
      <nav></nav>
      <section></section>
    //- </header>
    //-<section class="company-logos-bar"></section>
    //-<main></main>
    //-<footer></footer> 