doctype html 
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="./SCSS/style.css")
        title CodeTime
    body
        header(class="head-section")
            nav(class="head-section_top-navbar")
                div(class="head-section_top-navbar_logo-container")
                    img(class="head-section_top-navbar_logo-container_logo" src="./images/logo.svg", alt="not found")
                div(class="head-section_top-navbar_contact-icons-container")
            section(class="head-section_main-section") 
        section(class="companies-logos-bar")
        main(class="main-section")
        footer(class="bottom-footer")
    





    //- <header class="head-section">
      <nav></nav>
      <section></section>
    //- </header>
    //-<section class="company-logos-bar"></section>
    //-<main></main>
    //-<footer></footer> 